[submodule "infrastructure-iac"]
	path = infrastructure-iac
	url = https://github.com/Hudater/infrastructure-iac
[submodule "infrastructure-services"]
	path = infrastructure-services
	url = https://github.com/Hudater/infrastructure-services
